<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godofparking.jeogidabackend.mapper.FavoriteLocationMapper">

    <select id="getFavoriteLocationList" resultType="com.godofparking.jeogidabackend.dto.FavoriteLocationDto">
        SELECT * From favorite_location
    </select>

    <select id="getFavoriteLocationById" resultType="com.godofparking.jeogidabackend.dto.LocationDto">
        SELECT l.*
        From favorite_location f, location l
        WHERE f.user_id = #{user_id} AND f.location_id = l.id;
    </select>

    <select id="getFavoriteLocationByUserAndCarId" resultType="com.godofparking.jeogidabackend.dto.FavoriteLocationDto">
        SELECT *
        From favorite_location
        WHERE user_id = #{user_id} AND location_id = #{location_id};
    </select>

    <insert id="insertFavoriteLocation" parameterType="com.godofparking.jeogidabackend.dto.FavoriteLocationDto">
        INSERT
        INTO favorite_location(user_id, location_id)
        VALUES (#{user_id}, #{location_id})
    </insert>


    <delete id="deleteFavoriteLocation">
        DELETE
        FROM favorite_location
        WHERE user_id = #{user_id} AND location_id = #{location_id}
    </delete>

</mapper>