<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godofparking.jeogidabackend.mapper.ParkingLotMapper">

    <select id="getParkingLotList" resultType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        SELECT * FROM parking_lot
    </select>

    <select id="getParkingLot" resultType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        SELECT * FROM parking_lot WHERE id = #{id}
    </select>

    <select id="getInfoListByParkingLotId" resultType="com.godofparking.jeogidabackend.dto.ParkingInfoDto">
        SELECT * FROM parking_info WHERE parking_lot_id = #{parking_lot_id}
    </select>

    <insert id="insertParkingLot" parameterType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        INSERT
        INTO parking_lot(number, location_id, map_id)
        VALUES (#{number}, #{location_id}, #{map_id})
    </insert>

    <update id="updateParkingLot" parameterType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        UPDATE parking_lot
        SET number = #{number}, location_id = #{location_id}, map_id = #{map_id}
        WHERE id = #{id}
    </update>

    <delete id="deleteParkingLot" parameterType="_integer">
        DELETE
        FROM parking_lot
        WHERE id = #{id}
    </delete>

</mapper>