<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godofparking.jeogidabackend.mapper.ParkingLotMapper">

    <select id="getParkingLotList" resultType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        SELECT * FROM parking_lot
    </select>

    <select id="getParkingLot" resultType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        SELECT * FROM parking_lot WHERE id = #{id}
    </select>

    <select id="getInfoListByParkingLotId" resultType="com.godofparking.jeogidabackend.dto.ParkingInfoDto">
        SELECT * FROM parking_info WHERE parking_lot_id = #{parking_lot_id}
    </select>

    <insert id="insertParkingLot" parameterType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        INSERT
        INTO parking_lot(name, location_id, map_id, total, parked_num)
        VALUES (#{name}, #{location_id}, #{map_id}, #{total}, #{parked_num})
    </insert>

    <update id="updateParkingLot" parameterType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        UPDATE parking_lot
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="location_id != null">location_id = #{location_id},</if>
            <if test="map_id != null">map_id = #{map_id},</if>
            <if test="total != null">total = #{total},</if>
            <if test="parked_num != null">parked_num = #{parked_num}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteParkingLot" parameterType="_integer">
        DELETE
        FROM parking_lot
        WHERE id = #{id}
    </delete>

    <select id="checkDuplicateParkingLot" resultType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        SELECT * FROM parking_lot WHERE name = #{name} AND location_id = #{location_id} AND map_id = #{map_id}
    </select>

    <select id="getParkingLotByLocation" resultType="com.godofparking.jeogidabackend.dto.ParkingLotDto">
        SELECT * FROM parking_lot WHERE location_id = #{id}
    </select>

</mapper>