<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godofparking.jeogidabackend.mapper.UserMapper">

    <select id="getUserList" resultType="com.godofparking.jeogidabackend.dto.UserDto">
        SELECT * FROM user
    </select>

    <select id="getUser" resultType="com.godofparking.jeogidabackend.dto.UserDto">
        SELECT * FROM user WHERE code = #{code}
    </select>

    <select id="findByEmail" resultType="com.godofparking.jeogidabackend.dto.UserDto">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="findByCode" resultType="com.godofparking.jeogidabackend.dto.UserDto">
        SELECT * FROM user WHERE code = #{code}
    </select>

    <insert id="insertUser" parameterType="com.godofparking.jeogidabackend.dto.UserDto">
        INSERT
        INTO user(email, nickname, role, photo_url, code)
        VALUES (#{email}, #{nickname}, #{role}, #{photo_url}, #{code})
    </insert>

    <update id="updateUser" parameterType="com.godofparking.jeogidabackend.dto.UserDto">
        UPDATE user
        <set>
            <if test="email != null">email = #{email},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="role != null">role = #{role},</if>
            <if test="photo_url != null">photo_url = #{photo_url}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="string">
        DELETE
        FROM user
        WHERE code = #{code}
    </delete>

</mapper>